:root {
  --yesevaOne-ff: "Yeseva One", serif;
  --workSans-ff: "Work Sans", sans-serif;
  --fs-14px: 0.875rem;
  --fs-16px: 1rem;
  --fs-18px: 1.125rem;
  --fs-20px: 1.25rem;
  --fs-24px: 1.5rem;
  --fs-26px: 1.625rem;
  --fs-28px: 1.75rem;
  --fs-32px: 2rem;
  --fs-36px: 2.25rem;
  --fs-48px: 3rem;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --space-2px: 0.125rem;
  --space-4px: 0.25rem;
  --space-6px: 0.375rem;
  --space-8px: 0.5rem;
  --space-12px: 0.75rem;
  --space-16px: 1rem;
  --space-20px: 1.25rem;
  --space-24px: 1.5rem;
  --space-28px: 1.75rem;
  --space-32px: 2rem;
  --space-48px: 3rem;
  --space-64px: 4rem;
  --light-clr: #fcfefe;
  --dark-clr: #212124;
  --primary-clr: #1f2b6c;
  --secondary-clr: #159eec;
  --accent-clr: #bfd2f8;
}
.doctors .container .doctors-slider{
  grid-template-columns: repeat(auto-fill, min(19.813rem, 100%));
  overflow: hidden;
  justify-content: center;
  gap: var(--space-20px);
  font-family: var(--workSans-ff);
}
.doctors .container .doctors-slider .doctor-card {
  border-radius: 5px;
  overflow: hidden;
}
.doctors .container .doctors-slider .doctor-card .doctor-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-12px);
  padding: var(--space-28px) 0;
  color: var(--primary-clr);
  background-color: var(--accent-clr);
  font-size: var(--fs-18px);
}
.doctors .container .doctors-slider .doctor-card .doctor-info h3{
  letter-spacing: 3px;
  font-weight: var(--fw-bold);
}
.doctors .container .doctors-slider .doctor-card .doctor-info .social-icons{
  display: flex;
  align-items: center;
  gap: var(--space-16px);
}
.doctors .container .doctors-slider .doctor-card .doctor-info .social-icons li a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;  
  font-size: var(--fs-14px);
  background-color: var(--primary-clr);
  color: var(--accent-clr);
}
.doctors .container .doctors-slider .doctor-card a.view-profile{
  display: block;
  padding: var(--space-16px) 0;
  text-align: center;
  overflow: hidden;
  font-weight: var(--fw-medium);
  background-color: var(--primary-clr);
  color: var(--accent-clr);
}
.doctors .slider-dots {
  margin-top: var(--space-32px);
  gap: var(--space-12px);
}
.doctors .slider-dots li{
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--accent-clr);
}
.doctors .slider-dots li.active{
  background-color: var(--primary-clr);
}