* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --yesevaOne-ff: "Yeseva One", serif;
  --workSans-ff: "Work Sans", sans-serif;
  --fs-14px: 0.875rem;
  --fs-16px: 1rem;
  --fs-18px: 1.125rem;
  --fs-20px: 1.25rem;
  --fs-26px: 1.625rem;
  --fs-32px: 2rem;
  --fs-36px: 2.25rem;
  --fs-48px: 3rem;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-semibold: 600;
  --space-2px: 0.125rem;
  --space-4px: 0.25rem;
  --space-6px: 0.375rem;
  --space-8px: 0.5rem;
  --space-12px: 0.75rem;
  --space-16px: 1rem;
  --space-20px: 1.25rem;
  --space-24px: 1.5rem;
  --space-28px: 1.75rem;
  --space-28px: 3rem;
  --space-32px: 2rem;
  --space-64px: 4rem;
  --light-clr: #fcfefe;
  --dark-clr: #212124;
  --primary-clr: #1f2b6c;
  --secondary-clr: #159eec;
  --accent-clr: #bfd2f8;
}
html {
  scroll-behavior: smooth;
}
body {
  font-weight: var(--fw-normal);
  background-color: var(--light-clr);
}
body.dark-theme {
  --light-clr: #121212;
  --dark-clr: #ffffff;
  --primary-clr: #1f2b6c;
  --secondary-clr: #159eec;
  --accent-clr: #bfd2f8;
}
.container {
  width: min(73.125rem, 100% - 2.5rem);
  margin: auto;
}
ul {
  list-style: none;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
input,
button,
textarea {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
}
span {
  font: inherit;
  color: inherit;
}
img {
  max-width: 100%;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.i-flex {
  display: inline-flex;
}
.grid {
  display: grid;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
footer {
  padding-block: var(--space-64px);
  background-color: var(--primary-clr);
}
footer .container .footer-top {
  grid-template-columns: repeat(auto-fit, min(17.5rem, 100%));
  gap: var(--space-12px);
  position: relative;
  padding-bottom: var(--space-28px);
  font-family: var(--workSans-ff);
}
footer .container .footer-top::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--accent-clr);
}
footer .container .footer-top > div.footer-logo > a {
  font-family: var(--yesevaOne-ff);
  font-size: var(--fs-36px);
  color: var(--accent-clr);
}
footer .container .footer-top > div.footer-logo > p {
  font-size: var(--fs-18px);
  color: var(--light-clr);
}
footer .container .footer-top > div.footer-links > span,
footer .container .footer-top > div.newsletter > span {
  display: inline-block;
  margin-bottom: var(--space-32px);
  font-size: var(--fs-16px);
  font-weight: var(--fw-semibold);
  color: var(--light-clr);
}
footer .container .footer-top > div.footer-links > ul li {
  margin-bottom: var(--space-8px);
  font-size: var(--fs-16px);
  color: var(--light-clr);
}
footer .container .footer-top > div.newsletter .newsletter-form {
  gap: var(--space-12px);
  padding: var(--space-12px);
  border-radius: 5px;
  font-size: var(--fs-16px);
  background-color: var(--accent-clr);
  color: var(--primary-clr);
}
footer .container .footer-top > div.newsletter .newsletter-form .newsletter-input {
  flex-grow: 1;
  overflow: hidden;
  font-weight: var(--fw-medium);
  background-color: transparent;
}
footer .container .footer-top > div.newsletter .newsletter-form .newsletter-input::placeholder {
  font-weight: var(--fw-medium);
  color: inherit;
}
footer .container .footer-top > div.newsletter .newsletter-form .newsletter-button {
  font-size: var(--fs-20px);
  cursor: pointer;
}
footer .container .footer-bottom {
  flex-wrap: wrap;
  gap: var(--space-16px);
  padding-top: var(--space-28px);
  font-family: var(--workSans-ff);
}
footer .container .footer-bottom > p {
  font-size: var(--fs-16px);
  color: var(--light-clr);
}
footer .container .footer-bottom .footer-social {
  gap: var(--space-24px);
  font-size: var(--fs-16px);
}
footer .container .footer-bottom .footer-social li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;  
  background-color: var(--accent-clr);
  color: var(--primary-clr);
}