:root {
  --workSans-ff: "Work Sans", sans-serif;
  --fs-16px: 1rem;
  --fs-18px: 1.125rem;
  --space-8px: 0.5rem;
  --primary-clr: #1f2b6c;
}
.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero .container {
  min-height: 39.4vh;
  gap: var(--space-8px);
}
.hero .container .links{
  font-family: var(--workSans-ff);
  font-size: clamp(var(--fs-16px), 5vw, var(--fs-18px));
  color: var(--primary-clr);
}