:root {
  --yesevaOne-ff: "Yeseva One", serif;
  --workSans-ff: "Work Sans", sans-serif;
  --fs-14px: 0.875rem;
  --fs-16px: 1rem;
  --fs-18px: 1.125rem;
  --fs-20px: 1.25rem;
  --fs-24px: 1.5rem;
  --fs-26px: 1.625rem;
  --fs-28px: 1.75rem;
  --fs-32px: 2rem;
  --fs-36px: 2.25rem;
  --fs-48px: 3rem;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --space-2px: 0.125rem;
  --space-4px: 0.25rem;
  --space-6px: 0.375rem;
  --space-8px: 0.5rem;
  --space-12px: 0.75rem;
  --space-16px: 1rem;
  --space-20px: 1.25rem;
  --space-24px: 1.5rem;
  --space-28px: 1.75rem;
  --space-32px: 2rem;
  --space-48px: 3rem;
  --space-64px: 4rem;
  --light-clr: #fcfefe;
  --dark-clr: #212124;
  --primary-clr: #1f2b6c;
  --secondary-clr: #159eec;
  --accent-clr: #bfd2f8;
}
.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero .container {
  min-height: 41vh;
  gap: var(--space-8px);
}
.hero .container .links{
  font-family: var(--workSans-ff);
  font-size: clamp(var(--fs-16px), 5vw, var(--fs-18px));
  color: var(--primary-clr);
}