* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --yesevaOne-ff: "Yeseva One", serif;
  --workSans-ff: "Work Sans", sans-serif;
  --fs-14px: 0.875rem;
  --fs-16px: 1rem;
  --fs-18px: 1.125rem;
  --fs-20px: 1.25rem;
  --fs-24px: 1.5rem;
  --fs-26px: 1.625rem;
  --fs-28px: 1.75rem;
  --fs-32px: 2rem;
  --fs-36px: 2.25rem;
  --fs-48px: 3rem;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --space-2px: 0.125rem;
  --space-4px: 0.25rem;
  --space-6px: 0.375rem;
  --space-8px: 0.5rem;
  --space-12px: 0.75rem;
  --space-16px: 1rem;
  --space-20px: 1.25rem;
  --space-24px: 1.5rem;
  --space-28px: 1.75rem;
  --space-32px: 2rem;
  --space-48px: 3rem;
  --space-64px: 4rem;
  --light-clr: #fcfefe;
  --dark-clr: #212124;
  --primary-clr: #1f2b6c;
  --secondary-clr: #159eec;
  --accent-clr: #bfd2f8;
}
html {
  scroll-behavior: smooth;
}
body {
  font-weight: var(--fw-normal);
  background-color: var(--light-clr);
}
body.dark-theme {
  --light-clr: #121212;
  --dark-clr: #ffffff;
  --primary-clr: #1f2b6c;
  --secondary-clr: #159eec;
  --accent-clr: #bfd2f8;
}
.container {
  width: min(62rem, 100% - 2.5rem);
  margin: auto;
}
ul {
  list-style: none;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
input,
button,
select,
textarea {
  border: none;
  outline: none;
  font: inherit;
  background-color: inherit;
  color: inherit;
}
span {
  font: inherit;
  color: inherit;
}
img {
  max-width: 100%;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.i-flex {
  display: inline-flex;
}
.grid {
  display: grid;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
h1.title {
  font-family: var(--yesevaOne-ff);
  font-size: clamp(var(--fs-24px), 5vw, var(--fs-48px));
  color: var(--primary-clr);
}
h2.title {
  font-family: var(--yesevaOne-ff);
  font-size: clamp(var(--fs-24px), 5vw, var(--fs-32px));
  color: var(--primary-clr);
}
h3.title {
  font-family: var(--workSans-ff);
  font-size: var(--fs-14px);
  color: var(--secondary-clr);
}
span.caption {
  letter-spacing: 4px;
  font-family: var(--workSans-ff);
  font-size: clamp(var(--fs-16px), 5vw, var(--fs-18px));
  font-weight: var(--fw-bold);
  color: var(--secondary-clr);
}
p.description {
  line-height: 1.6;
  font-family: var(--workSans-ff);
  font-size: var(--fs-16px);
  color: var(--dark-clr);
}
.primary-link {
  display: inline-flex;
  align-items: center;
  gap: var(--space-12px);
  font-family: var(--workSans-ff);
  font-size: var(--fs-16px);
  color: var(--secondary-clr);
}
.secondary-link {
  display: inline-flex;
  align-items: center;
  gap: var(--space-12px);
  padding: 0.813rem 1.625rem;
  border-radius: 50px;
  font-family: var(--workSans-ff);
  font-size: var(--fs-16px);
  font-weight: var(--fw-medium);
  background-color: var(--accent-clr);
  color: var(--primary-clr);
}
.main-btn {
  padding: 0.813rem 2.188rem;
  border-radius: 50px;
  font-family: var(--workSans-ff);
  font-size: var(--fs-16px);
  font-weight: var(--fw-medium);
  background-color: var(--accent-clr);
  color: var(--primary-clr);
}
.section-heading {
  gap: var(--space-16px);
  margin-bottom: var(--space-48px);
}
.section-padding {
  padding: 3rem 0;
}
section.hero {
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
}
section.hero .container {
  position: relative;
  align-items: center;
  min-height: 75vh;
  gap: var(--space-20px);
}
section.hero .container .appointment-booking {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-24px);
  position: absolute;
  bottom: -35px;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
}
section.hero .container .appointment-booking .booking-option {
  padding: var(--space-28px) var(--space-20px);
  border-radius: 5px;
  font-family: var(--workSans-ff);
}
section.hero .container .appointment-booking .booking-option span {
  font-size: var(--fs-16px);
  font-weight: var(--fw-normal);
}
section.hero .container .appointment-booking .booking-option:first-child {
  background-color: var(--primary-clr);
  color: var(--light-clr);
}
section.hero .container .appointment-booking .booking-option:nth-child(2) {
  background-color: var(--accent-clr);
  color: var(--primary-clr);
}
section.hero .container .appointment-booking .booking-option:last-child {
  background-color: var(--secondary-clr);
  color: var(--light-clr);
}
@media (max-width: 677px) {
  section.hero {
    background-image: url(../images/hero2.png);
  }
  section.hero .container {
    justify-content: end;
    padding-bottom: var(--space-20px);
  }
  section.hero .container h1.title {
    text-align: center;
  }
}
@media (min-width: 678px) {
  section.hero {
    background-image: url(../images/hero1.png);
  }
  section.hero .container {
    min-height: 85vh;
    align-items: start;
  }
}
@media (max-width: 991px) {
  section.hero .container .appointment-booking {
    display: none;
  }
}
section.about .container .about-content {
  max-width: 41.25rem;
  width: 100%;
}
section.about .container .about-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 48.2vh;
  width: 100%;
}
@media (min-width: 991px) {
  section.about {
    padding: 5rem 0 4rem 0;
  }
}
@media (max-width: 677px) {
  section.about .container .about-image {
    background-image: url(../images/doctors-group2.png);
  }
}
@media (min-width: 678px) {
  section.about .container .about-image {
    background-image: url(../images/doctors-group1.png);
  }
}
.services .container .services-layout {
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--space-32px);
  font-family: var(--workSans-ff);
}
.services .container .services-layout .services-list .some-services {
  border: 1px solid #e0dfdf;
  border-radius: 5px 5px 0 0;
  background-color: var(--light-clr);
}
.services .container .services-layout .services-list .some-services .service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-12px);
  padding: var(--space-20px) var(--space-16px);
  font-size: var(--fs-16px);
  color: var(--dark-clr);
  cursor: pointer;
}
.services .container .services-layout .services-list .view-all {
  display: block;
  padding-block: var(--space-16px);
  text-align: center;
  border-radius: 0 0 5px 5px;
  background-color: var(--primary-clr);
  color: var(--accent-clr);
}
.services .container .services-layout .services-list .some-services .service-item.active,
.services .container .services-layout .services-list .some-services .service-item:hover {
  background-color: var(--primary-clr);
  color: var(--accent-clr);
}
.services .container .services-layout .service-content {
  align-self: start;
  gap: var(--space-24px);
  color: var(--dark-clr);
}
.services .container .services-layout .service-content h3 {
  font-size: var(--fs-26px);
  font-weight: var(--fw-medium);
}
.services .container .services-layout .service-content ul {
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: var(--space-16px);
}
.services .container .services-layout .service-content ul li {
  position: relative;
  padding-left: 1.5rem;
}
.services .container .services-layout .service-content ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--secondary-clr);
}
.services .container .services-layout .service-images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 678px) {
  .services .container .services-layout .service-content {
    display: none;
  }
  .services .container .services-layout .service-images {
    display: none;
  }
}
@media (max-width: 1200px) {
  .services .container .services-layout .services-list {
    width: 100%;
  }
  .services .container .services-layout .services-list .some-services {
    width: 100%;
    flex-direction: initial;
    flex-wrap: wrap;
  }
  .services .container .services-layout .services-list .some-services .service-item {
    width: min(10rem, 100%);
    flex-grow: 1;
  }
  .services .container .services-layout .service-images {
    width: 100%;
    flex-direction: initial;
    justify-content: center;
    gap: var(--space-20px);
  }
}
@media (min-width: 1200px) {
  .services .container .services-layout {
    flex-direction: row;
    gap: var(--space-20px);
  }
  .services .container .services-layout .services-list .some-services {
    flex-direction: column;
    width: 9.813rem;
  }
  .services .container .services-layout .service-content {
    align-self: center;
    max-width: 29.375rem;
    width: 100%;
  }
}
.specialties .container .specialties-list {
  grid-template-columns: repeat(auto-fill, min(15.5rem, 100%));
  justify-content: center;
}
.specialties .container .specialties-list > .specialty-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-8px);
  padding: var(--space-48px) var(--space-24px);
  border: 0.5px solid #f1f1f1;
  font-family: var(--workSans-ff);
}
.specialties .container .specialties-list > div h3 {
  font-size: var(--fs-16px);
  color: var(--dark-clr);
}
.specialties .container .specialties-list > div:hover {
  background-color: var(--primary-clr);
  border-radius: 5px;
}
.specialties .container .specialties-list > div:hover h3 {
  color: var(--accent-clr);
}
section.appointment {
  background-image: url(../images/Appointment1.png);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}
section.appointment .container {
  min-height: 75vh;
  justify-content: center;
  align-items: center;
  row-gap: var(--space-32px);
}
section.appointment .container .appointment-info {
  text-align: center;
}
section.appointment .container .appointment-info h2.title {
  margin-bottom: var(--space-8px);
  color: var(--secondary-clr);
}
@media (min-width: 992px) {
  section.appointment .container {
    grid-template-columns: 25.438rem 30.688rem;
    justify-content: space-between;
    align-items: center;
  }
  section.appointment .container .appointment-info {
    text-align: left;
  }
}
section.appointment .container form {
  border-radius: 5px;
  overflow: hidden;
  font-family: var(--workSans-ff);
  background-color: var(--primary-clr);
  color: var(--light-clr);
}
section.appointment .container form .form-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.313rem, 1fr));
}
section.appointment .container form .form-row .form-group select,
section.appointment .container form .form-row .form-group input {
  width: 100%;
  height: 3.125rem;
  padding: var(--space-16px) var(--space-8px);
  border: 1px solid #e6e5e5;
  background-color: transparent;
}
section.appointment .container form textarea::placeholder,
section.appointment .container form .form-row .form-group input::placeholder {
  color: var(--light-clr);
}
section.appointment .container form .form-row .form-group select option {
  background-color: var(--primary-clr);
}
section.appointment .container form textarea {
  display: block;
  max-height: 10rem;
  max-width: 100%;
  min-width: 100%;
  padding: var(--space-16px) var(--space-8px);
}
section.appointment .container form .btn-submit {
  width: 100%;
  padding: var(--space-16px) 0;
  font-weight: var(--fw-medium);
  background-color: var(--accent-clr);
  color: var(--primary-clr);
}